.ink-badge > a, small.white {
  color: #fff
}

.ink-badge > a, .ink-navigation ul.pills li a, .ink-navigation ul.pills li.active a, a.tabs-black {
  text-decoration: none
}

footer {
  background: #ccc;
  clear: both;
  bottom: 0;
  width: 100%
}

footer.fixed {
  position:fixed
}

header {
  position: static;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 100
}

.truncate {
  maximum-height:100px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis
}

.img-circle{border-radius:50%}
.ink-navigation img{height:2.5em;margin:0;padding:0}
li.message{list-style-type:none;border-radius:2px;-webkit-box-shadow:#ddd 0 1px 1px 0;-moz-box-shadow:#ddd 0 1px 1px 0;box-shadow:#ddd 0 1px 1px 0;margin-left:0;padding:1em;border:1px solid #BBB;background-color:#FFF}
div.message{border-radius:2px;-webkit-box-shadow:#ddd 0 1px 1px 0;-moz-box-shadow:#ddd 0 1px 1px 0;box-shadow:#ddd 0 1px 1px 0;padding:1em;border:1px solid #BBB;background-color:#FFF}
.ink-search input{font-family:Roboto,Arial,Helvetica,sans-serif;font-weight:300;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;padding:8px 6px;border:1px solid #c6c6c6;background:#FFF;vertical-align:middle}
.ink-search .control-group{line-height:1em;margin-bottom:0;margin-top:.75em}
.ink-navigation ul.menu.horizontal li.header-image a{padding:.2em;margin:0;display:block}
li a.black,a.black,a.tabs-black{color:#404040}
.positive-score{color:#009800}
.negative-score{color:#f00000}
p.highlight b{-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;background:#ffd500;color:#404040}
.ink-navigation ul.menu.horizontal li{margin-top:.5em;float:left;position:relative}
.ink-navigation ul.menu.horizontal li a{padding:.6em 1em;display:block;line-height:1.5em}
.ink-navigation ul.menu.horizontal li .control{padding:0 .5em}
.ink-navigation ul.menu.horizontal li ul.submenu li a{line-height:2em;padding:.5em 1em}
img.avatar-medium{width:72px;height:72px;border-radius:50%}
img.avatar-small{width:5%;height:5%;border-radius:50%}
table.fixed{table-layout:fixed;}
table.fixed td{overflow: hidden;}
table.collapse{border-collapse:collapse}
.hidden{visibility:hidden;}

.ink-button.black.active {
  background:#2a2a2a;
  border:1px solid #1a1a1a;
  color:#fff;
  text-decoration:none;
}

section.message{
  border-radius:2px;
  margin: 1.0em 0;
  padding: 0.5em 1.0em;
  border:1px solid #BBB;
  background-color:#eee;
}

.message.hoverable:hover{
  background-color:#eee;
}

.message.hoverable {
  background-color:#fff;
}

body.ink-drawer .left-drawer,
body.ink-drawer .right-drawer {
  background: #1e1e1e
}

body.ink-drawer .left-drawer ul,
body.ink-drawer .right-drawer ul {
  margin: 59px 0 0;
  padding: 0;
  list-style-type: none
}

body.ink-drawer .left-drawer li,
body.ink-drawer .right-drawer li {
  display: block;
  margin: 0;
  font-weight: 300;
}

body.ink-drawer .left-drawer li.search,
body.ink-drawer .right-drawer li.search {
  position: relative;
  margin: 15px;
}

body.ink-drawer .left-drawer li.search input[type=search],
body.ink-drawer .right-drawer li.search input[type=search] {
  -webkit-border-radius:2px;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border-radius:2px;
  box-sizing: border-box;
  padding: .4em .6em .4em 1.9em;
  width: 100%;
  border: 1px solid #DDD;
  font-size:14px;
}

body.ink-drawer .left-drawer li.search .fa-search,
body.ink-drawer .right-drawer li.search .fa-search {
  position:absolute;
  top:.7em;
  left:.6em;
  font-size:14px;
}

body.ink-drawer .left-drawer li.search #search-dropdown,
body.ink-drawer .right-drawer li.search #search-dropdown {
  width:100%;
}

body.ink-drawer .left-drawer li.search #search-dropdown .dropdown-menu li,
body.ink-drawer .right-drawer li.search #search-dropdown .dropdown-menu li {
  float:none;
  width:100%;
}

body.ink-drawer .left-drawer li.heading,
body.ink-drawer .right-drawer li.heading {
  border-top:1px solid rgba(255,255,255,.1);
  color:#f0f0f0;
  text-transform:uppercase;
  margin-top:.5em;
  font-weight:700;
  padding:1em 15px .5em;
}

body.ink-drawer .left-drawer li > a,
body.ink-drawer .right-drawer li > a {
  display:block;
  padding:6px 15px;
  color:#bbb;
  text-decoration:none;
  text-transform:uppercase;
  font-size:.875em;
}

body.ink-drawer .left-drawer li > a:hover,
body.ink-drawer .right-drawer li > a:hover {
  background: #333;
  color: #FFF;
}

body.ink-drawer .left-drawer li > a.ink-button,
body.ink-drawer .right-drawer li > a.ink-button {
  color: #fff;
  padding: 4px 12px;
  margin: 1em;
}

body.ink-drawer .left-drawer li>a.ink-button:hover,
body.ink-drawer .right-drawer li>a.ink-button:hover {
  background: #0d68c2;
}

body.ink-drawer .left-drawer li.active>a,
body.ink-drawer .right-drawer li.active>a {
  background: #333;
  color: #FFF;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.collapse {
  display: none;
}
.collapse.in {
  display: block;
}

.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}
.panel-default {
  border-color: #ddd;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}

.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.panel-default > .panel-heading {
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
}

.panel-title.active .chevron-icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: transform 0.4s ease;
}

.panel-title .chevron-icon {
  transition: transform 0.4s ease;
}